version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - "9090:80"
    volumes:
      - ./web:/usr/share/nginx/html:ro

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
